body {
    background-color: hotpink;
    color: white;
}
h1 {
    color: rgb(0, 4, 255);
    background-color: rgb(255, 220, 105);
    display: grid;
}
.main-image {
    background-image: url('IMG_20190810_073015.jpg');
    background-color: #cccccc;
}
